APP_NAME=go-template
APP_ENV=development
HTTP_ADDR=:8080
SEED_ADMIN_NAME=Admin
SEED_ADMIN_EMAIL=admin@email.com

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app_db
POSTGRES_SSL_MODE=disable

# Randomly generate this Secret for JWT Signatures (change this in production)
JWT_SECRET=super1secur3k3y-p4assw0rdb4r@129849

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
